.movie-card-wrapper {
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 15rem;
}

.movie-card-wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #eef5f8;
}

.movie-card-wrapper::-webkit-scrollbar-thumb {
  background-color: #1ca0d1;
  border-radius: 10px;
}

.movie-card-data {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-card-wrapper img {
  border-radius: 8px;
  height: 260px;
  width: 192px;
}
